[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
redis = "*"
lxml = "*"
requests = "*"
gevent = "*"
chardet = "*"
greenlet = "*"
sqlalchemy = "*"
psutil = "*"
pymongo = "*"
flask = "*"
flask-script = "*"
pyyaml = "*"
coloredlogs = "*"
python-json-logger = "*"
livereload = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
